{% extends 'edx/partials/_base_navbar.html' %}
{% load static %}

{% block navbar_brand %}
    <span class="navbar-brand">
      <a href="https://sales.relny.com" style="text-decoration: none;">
        <img class="navbar-brand-logo" alt="RELNY logo" src="/static/images/relnylogo.png" style="width:auto!Important"/>
      </a>
    </span>
    <style>
.navbar-brand a:hover, .navbar-brand a {
  text-decoration: none!important;
  border: none!important;
}
</style>
{% endblock navbar_brand %}



{% block dropdown_menu %}
  {% include "edx/base_menu.html" %}
{% endblock dropdown_menu %}

{% block small_dropdown_menu %}
  {% include "edx/base_menu.html" with additional_class="visible-xs" %}
{% endblock small_dropdown_menu %}
